

.texto{
    color:black;
    text-align: justify;
}

.contenido{
    background-color: darkblue;
    text-align: justify;
    padding:5%;

}

.titulo{
    font-weight: bold;
   
}

/* styles.scss o tu-archivo-de-estilos.scss */

.texto-blanco p {
    color: white; /* Cambia el color del texto a blanco */
  }
  